{% extends "TxFApp/base.html" %}
{% block content %}

<!-- Display flash messages if there are any -->
{% include 'TxFApp/flash_message.html' %}

<div class="alert alert-info alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	Welcome, {{full_name}}!
</div>

<h3> My Account </h3>
<div class="row">
	<div class="col-xs-6">
		<div class="card">
			<div class="card-content">
				<h3>{{points}} </h3>
				<p>POINTS</p>
			</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="card">
			<div class="card-contnet">
				<h3>{{visits}} </h3>
				<p>VISITS</p>
			</div>
		</div>
	</div>
</div>

<br>

<h4>Upcoming and Today's Classes</h4>
<div class="list-group">
	{% for rsvp in rsvps %}
    {% with rsvp.course.class_schedule as c %}
        <a href="/classes/{{ rsvp.course.id }}/" class="list-group-item">
			<h4 class="list-group-item-heading"> {{c.class_type.name}} </h4>
			<div class="row">
			<p class="list-group-item-text col-xs-12 col-sm-8">
				<i class="fa fa-calendar icon"></i> {{rsvp.course.date}} <br>
				<i class="fa fa-clock-o icon"></i> {{c.start_time | time:'g:i a'}} - {{c.end_time | time:'g:i a'}} </p>
		    <form id="rsvpForm" class="list-group-item-text col-xs-12 col-sm-4" action="/account" method="post">
		        <input name="class_id" type="hidden" value="{{rsvp.course.id}}"/>
				{% if rsvp.course.has_occurred %}
				<input name="type" type="hidden" value="attended"/>
		            <button id="rsvpButton" type ="submit" class='col-xs-12 rsvp-button-top-margin btn btn-success points'><i class="fa fa-check fa-lg"></i> I ATTENDED!</button>
		        {% else %}
		        <input name="type" type="hidden" value="cancel"/>
		            <button id="unrsvpButton" type ="submit" class='col-xs-12 rsvp-button-top-margin btn btn-danger points'><i class="fa fa-times fa-lg"></i> CANCEL RSVP</button>
		        {% endif %}
		        {% csrf_token %}
		    </form>
	</div>
        </a>
    {% endwith %}
    {% empty %}
    	<p>You have not RSVPed for any classes. Check out the <a href="/schedule">class schedule!</a></p>
    {% endfor %}
</div>

<h4>Recently Attended Classes</h4>
<div class="list-group">
	{% for class in attended %}
	{% with class.course.class_schedule as c %}
        <a href="/classes/{{ class.course.id }}/" class="list-group-item">
			<h4 class="list-group-item-heading"> {{c.class_type.name}} </h4>
			<p class="list-group-item-text"><i class="fa fa-calendar icon"></i> {{class.course.date}} <br>
			<i class="fa fa-clock-o icon"></i> {{c.start_time }} - {{c.end_time}} </p>
        </a>
    {% endwith %}
    {% empty %}
		<p>You have not attended any classes. Check out the <a href="/schedule">class schedule!</a></p>
    {% endfor %}
</div>


<h4>My Competitions</h4>
<div class="list-group">
	{% for c in competitions %}
        <a href="/competitions/{{ c.id }}" class="list-group-item">{{c.name}}</a>
    {% endfor %}
    <a href="/new-group" class="list-group-item list-group-item-success">Create Group</a>
</div>
{% endblock %}