{% extends "TxFApp/base.html" %}
{% block content %}

<h3> My Account </h3>
<div class="row">
	<div class="col-xs-12">
		<h4>History</h4>
	</div>
</div>

<div class="row">
	<div class="col-xs-6">
		<div class="card">
			<div class="card-content">
				<h3>{{points}} </h3>
				<p>POINTS</p>
			</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="card">
			<div class="card-content">
				<h3>{{visits}} </h3>
				<p>VISITS</p>
			</div>
		</div>
	</div>
</div>

<h4>Upcoming Classes</h4>
<div class="list-group">
	{% for rsvp in rsvps %}
        <a href="/classes/{{ rsvp.course.id }}/" class="list-group-item">{{rsvp.course.date}} {{rsvp.course.class_schedule.start_time }} - {{rsvp.course.class_schedule.end_time}} {{rsvp.course.class_schedule.class_type.name}}</a>
    {% empty %}
    	<p>You have not RSVPed for any classes. Check out the <a href="/schedule">class schedule!</a></p>
    {% endfor %}
</div>

<h4>My Competitions</h4>
<div class="list-group">
	{% for c in competitions %}
        <a href="#" class="list-group-item">{{c.name}}</a>
    {% endfor %}
    <a href="#" class="list-group-item list-group-item-success">Create New</a>
</div>
{% endblock %}