{% extends "TxFApp/base.html" %}
{% block content %}

<!-- Display flash messages if there are any -->
{% include 'TxFApp/flash_message.html' %}

<h3> Admin Dashboard </h3>

<div class="row">
	<div class="col-xs-12">
		<h4>My Classes</h4>
	</div>
</div>

<div class="list-group">
	{% for c in classes %}
    {% with c.class_schedule as csch %}
        <a href="/classes/{{ class.id }}/" class="list-group-item">
			<h4 class="list-group-item-heading"> {{csch.class_type.name}} </h4>
			<div class="row">
			<p class="list-group-item-text col-xs-8"><i class="fa fa-calendar icon"></i> {{c.date}} <br>
			<i class="fa fa-clock-o icon"></i> {{csch.start_time | time:'g:i a'}} - {{csch.end_time | time:'g:i a'}} </p>
	    {% if not c.has_occurred %}
	        <button id="unrsvpButton" type="submit" class='btn btn-danger'><i class="fa fa-times fa-lg"></i> Cancel Class</button>
	    {% endif %}
	</div>
        </a>
    {% endwith %}
    {% empty %}
    	<p>You are currently not teaching any Group X classes. Add a new class below.</p>
    {% endfor %}
</div>

<br>

<button id="addClassButton" type="submit" class="btn btn-primary"><i class="fa fa-plus fa-lg"></i> Add New Class</button>

<div class="empty-placeholder">
</div>

{% endblock %}