{% extends "TxFApp/base.html" %}
{% block content %}

<h3> {{competition.name}} </h3>

<div class="row competition">
	<div class="col-xs-12 col-sm-8 dot-border comp-desc">
		<i class="fa fa-info-circle icon"></i> Description: {{competition.description}}<br>
		<i class="fa fa-gift icon"></i> Reward: {{competition.reward}}  <br>
	</div>
	<div class="col-xs-12 col-sm-4">
			<div class="btn btn-lg btn-block btn-primary" onclick="facebookShare();"><i class="fa fa-share icon"></i> SHARE</div>
	</div>
</div>

<ul class="list-group">
	{% for member in members %}
		{% if member.id == uid %}
		<li class="list-group-item current-user">
			<span class="points"><i class="fa fa-diamond icon" ></i> {{member.profile.points}}</span>
			{{forloop.counter}}. {{member.first_name}} {{member.last_name}}
		</li>
		{% else %}
		<li class="list-group-item">
			<span class="points"><i class="fa fa-diamond icon" ></i> {{member.profile.points}}</span>
			{{forloop.counter}}. {{member.first_name}} {{member.last_name}}
		</li>
		{% endif %}
	{% endfor %}
</ul>

{% endblock %}