{% extends "TxFApp/base.html" %}
{% block content %}

<h3> {{competition.name}} </h3>
<h5> Description: {{competition.description}} </h5>
<h5> Reward: {{competition.reward}} </h5>
<ul class="list-group">
	{% for member in members %}
		{% if member.id == uid %}
		<li class="list-group-item current-user">
			<span class="points"><i class="fa fa-star icon" ></i>{{member.profile.points}}</span>
			{{forloop.counter}}. {{member.first_name}} {{member.last_name}}
		</li>
		{% else %}
		<li class="list-group-item">
			<span class="points"><i class="fa fa-star icon" ></i>{{member.profile.points}}</span>
			{{forloop.counter}}. {{member.first_name}} {{member.last_name}}
		</li>
		{% endif %}
	{% endfor %}
</ul>

{% endblock %}