{% extends "TxFApp/base.html" %}
{% block content %}

<div class="row">
	<div class="col-xs-12">
		<h3> {{competition.name}} </h3>
	</div>
</div>
<div class="row competition">
	<div class="col-xs-12 col-sm-8">
	<div class="col-xs-12 dot-border comp-desc">
		<i class="fa fa-info-circle icon"></i> Description: {{competition.description}}<br>
		<i class="fa fa-gift icon"></i> Reward: {{competition.reward}}  <br>
	</div>
	</div>
	<div class="col-xs-12 col-sm-4">
			<div class="btn btn-lg btn-block btn-primary" onclick="facebookShare();"><i class="fa fa-share icon"></i> Share</div>
			
            <form class="" action="/competitions/{{competition.id}}/" enctype="multipart/form-data" method="post">
                <input name="competition_id" type="hidden" value="{{competition.id}}"/>
                <button id="leaveGroupButton" class='btn btn-lg btn-block btn-danger margin-top-10 points'><i class="fa fa-times fa-lg"></i>&nbsp; Leave Group</button>
                {% csrf_token %}
            </form>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<ul class="list-group">
			{% for member in members %}
				{% if member.id == uid %}
				<li class="list-group-item current-user">
					<span class="points"><i class="fa fa-diamond icon" ></i> {{member.profile.points}}</span>
					{{forloop.counter}}. {{member.first_name}} {{member.last_name}}
				</li>
				{% else %}
				<li class="list-group-item">
					<span class="points"><i class="fa fa-diamond icon" ></i> {{member.profile.points}}</span>
					{{forloop.counter}}. {{member.first_name}} {{member.last_name}}
				</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<canvas id="competition-graph" width="600" height="400"></canvas>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<script>
	var ctx = $("#competition-graph");
	var data = {
	    labels: ["September", "October", "November", "December"],
	    datasets: [
	        {
	            label: "Jennifer Jin",
	            fill: false,
	            lineTension: 0.1,
	            backgroundColor: "rgba(75,192,192,0.4)",
	            borderColor: "rgba(75,192,192,1)",
	            borderCapStyle: 'butt',
	            borderDash: [],
	            borderDashOffset: 0.0,
	            borderJoinStyle: 'miter',
	            pointBorderColor: "rgba(75,192,192,1)",
	            pointBackgroundColor: "#fff",
	            pointBorderWidth: 1,
	            pointHoverRadius: 5,
	            pointHoverBackgroundColor: "rgba(75,192,192,1)",
	            pointHoverBorderColor: "rgba(220,220,220,1)",
	            pointHoverBorderWidth: 2,
	            pointRadius: 1,
	            pointHitRadius: 10,
	            data: [20, 45, 80, 135],
	            spanGaps: false,
	        },
	        {
	            label: "Maggie Yu",
	            fill: false,
	            lineTension: 0.1,
	            backgroundColor: "#bbaaff",
	            borderColor: "#a691ff",
	            borderCapStyle: 'butt',
	            borderDash: [],
	            borderDashOffset: 0.0,
	            borderJoinStyle: 'miter',
	            pointBorderColor: "#a691ff",
	            pointBackgroundColor: "#fff",
	            pointBorderWidth: 1,
	            pointHoverRadius: 5,
	            pointHoverBackgroundColor: "#a691ff",
	            pointHoverBorderColor: "#967ff9",
	            pointHoverBorderWidth: 2,
	            pointRadius: 1,
	            pointHitRadius: 10,
	            data: [10, 65, 85, 130],
	            spanGaps: false,
	        },
	        {
	            label: "Karen Segal",
	            fill: false,
	            lineTension: 0.1,
	            backgroundColor: "#ffb5f0",
	            borderColor: "#fc8ae5",
	            borderCapStyle: 'butt',
	            borderDash: [],
	            borderDashOffset: 0.0,
	            borderJoinStyle: 'miter',
	            pointBorderColor: "#fc8ae5",
	            pointBackgroundColor: "#fff",
	            pointBorderWidth: 1,
	            pointHoverRadius: 5,
	            pointHoverBackgroundColor: "#fc8ae5",
	            pointHoverBorderColor: "#ff63df",
	            pointHoverBorderWidth: 2,
	            pointRadius: 1,
	            pointHitRadius: 10,
	            data: [30, 80, 105, 130],
	            spanGaps: false,
	        }
	    ]
	};

    var myLineChart = new Chart(ctx, {
	    type: 'line',
	    data: data,
	    options: {
	    	scales: {
	            yAxes: [{
	                stacked: true
	            }]
        	}
        }
	});

</script>

{% endblock %}