{% extends "TxFApp/base.html" %}
{% block content %}
<h3> Schedule for this Week </h3>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">

<table class="schedule" width="100%">
    <tr>
        {% for d in dates %}
        <th><a href="#">{{d}}</th>
        {% endfor %}
    </tr>
</table>

<br>

{% for c in classes %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="/classes/{{ c.id }}/">{{ c.class_type.name }}</a>
            <i class="fa fa-plus add-class"></i>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-clock-o"></i> {{c.start_time}} - {{c.end_time}}
                </div>
                <div class="col-xs-4">
                    <i class="fa fa-map-marker"></i> {{c.location}}
                </div>
                <div class="col-xs-4">
                    <i class="fa fa-user"></i> {{c.instructor.user.first_name}}
                </div>
            </div>
            <br><p>{{c.class_type.description}}</p>
        </div>
    </div>
{% endfor %}

{% endblock %}

