{% extends "TxFApp/base.html" %}
{% block content %}

<!-- Display flash messages if there are any -->
{% include 'TxFApp/flash_message.html' %}


<div style="display:none" id="fakealert" class="alert alert-success">
  You have RSVP'd to Indoor Cycling on Nov 2 from 11:30 a.m. - 12:15 p.m.!
</div>


<h3> Group X Schedule for This Week </h3>
<table class="schedule" width="100%">
    <tr>
        {% for d in dates %}
        <th {% if selected_date == d.3%} class="active" {% endif %} ><a href="/schedule/{{d.3}}/">{{d.0}}<p class="large">{{d.1}}</p>{{d.2}}</th>
        {% endfor %}
    </tr>
</table>
<br>

{% for cl in classes %}
    {% with cl.class_schedule as c %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="/classes/{{ c.id }}/">{{ c.class_type.name }}</a>
            {% if user.is_authenticated %}
                {% if cl.id in userRSVPs %}
                <form class="add-class" action="/schedule/{{selected_date}}/" method="post">
                    <input name="date" type="hidden" value="{{selected_date}}"/>
                    <input name="class_id" type="hidden" value="{{cl.id}}"/>
                        <button id="unrsvpButton" type ="submit" class='btn btn-link rsvp'><i class="fa fa-check"></i></button>
                    {% csrf_token %}
                </form>
                {% else %}
                <form class="add-class" action="/schedule/{{selected_date}}/" method="post">
                    <input name="date" type="hidden" value="{{selected_date}}"/>
                    <input name="class_id" type="hidden" value="{{cl.id}}"/>
                        <button id="rsvpButton" type ="submit" class='btn btn-link rsvp'><i class="fa fa-plus"></i></button>
                    {% csrf_token %}
                </form>
                {% endif %}
            {% endif %}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-clock-o"></i> {{c.start_time}} - {{c.end_time}}
                </div>
                <div class="col-xs-4">
                    <i class="fa fa-map-marker"></i> {{c.location}}
                </div>
                <div class="col-xs-4">
                    <i class="fa fa-user"></i> {{c.instructor.user.first_name}}
                </div>
            </div>
            <br><p>{{c.class_type.description}}</p>
        </div>
    </div>
    {% endwith %}
{% endfor %}

{% endblock %}

