{% extends "TxFApp/base.html" %}
{% block content %}
{% load bootstrap %}

<!-- User creating an account for the first time  -->
<div id="page-content">
    <div class="container">
        <div class="col-sm-12">
            <center>
                <img alt="TARTANxFit" id="big-logo" src="/static/images/round-logo.png">
                <h3>Sign Up</h3>
            </center>

            <br>
            
            <div class="row">
                <div class="col-sm-12">
                    <!-- Display flash messages if there are any -->
                    {% include 'TxFApp/flash_message.html' %}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <form action='signup' method='post'>{% csrf_token %}
                        {{ form1 | bootstrap }}
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </form>
                </div>
            </div>
    </div>
</div>

<br>
<br>

<script>
    // Hide the navbar only on this page
    $("nav").addClass("hidden");
</script>

{% endblock %}