.navbar-toggle {
  margin-left: 15px;
}

#small-logo {
  height: 43px;
  margin-top: -12px;
}

/* center the navbar logo */
.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.base {
	width: 90%;
}

.schedule tr, .schedule th{
	border: 1px solid black;
}

.schedule th{
	text-align: center;
	height: 100px;
}

.add-class {
	font-size: 23px;
	float:right;
	vertical-align:middle;
}