.navbar-toggle {
  margin-left: 15px;
}

#small-logo {
  height: 43px;
  margin-top: -12px;
}

/* center the navbar logo */
.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.base {
	width: 90%;
}

.schedule tr, .schedule th{
	border: 1px solid black;
}

.schedule th{
	text-align: center;
	height: 100px;
}

.add-class {
	font-size: 23px;
	float:right;
	vertical-align:middle;
}

.card {
  margin-top: 10px;
  border-radius: 2px;
  background-color:lightblue;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  width: 100px;
  text-align:center;
}

.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}

.dot-border {
	border-style: dotted;
	border-color: rgb(128,128,128);
	background-color: #d3D3D3;
}

.icon {
	margin-right: 10px;
	width: 5px;
	height: 5px;
	position: relative;
}

/* always collapsed navbar */
.navbar-header {
  float: none;
}

.navbar-toggle {
  display: block;
}

.navbar-collapse.collapse {
  display: none !important;
}

.navbar-nav {
  float: none !important;
}

.navbar-nav > li {
  float: none;
}

.navbar-collapse.collapse.in {
  display: block !important;
}